/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-2 {
    margin-top: 2%;
}

body {
    background-color: #acacac;
}

.container {
    width: 85%;
    max-width: 1300px;
    margin: auto;
}

header.header-y {
    height: 3.5em;
    background-color: #772222c9;
}

main section:first-child {
    height: 15em;
    background-color: #1c7510af;
}

main section:last-child {
    height: 17em;
    background-color: #211f85c9;
}